<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"
      />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

      <script
          src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/boostrap.min.js"
          integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
          crossorigin="anonymous"
      ></script>
      
</head>
<body>
    <div style="padding: 100px">
        <table id="sql-table" class="table table-striped">
            <thead class="thead-dark">
                <tr>
                  <th>CARDINAL</th>
                  <th>PERSON</th>
                  <th>NORP</th>
                  <th>ORG</th>
                  <th>GPE</th>
                  <th>LOC</th>
                  <th>PRODUCT</th>
                  <th>EVENT</th>
                  <th>WORK OF ART</th>
                  <th>LANGUAGE</th>
                  <th>DATE</th>
                  <th>TIME</th>
                  <th>PERCENT</th>
                  <th>MONEY</th>
                  <th>QUANTITY</th>
                  <th>ORDINAL</th>
                </tr>
            </thead>
            <tbody> 
                {% for row in range(rgo) %}
                  <tr> 
                    <td>{{value[0][row]}}</td>
                    <td>{{value[1][row]}}</td>
                    <td>{{value[2][row]}}</td>
                    <td>{{value[3][row]}}</td>
                    <td>{{value[4][row]}}</td>
                    <td>{{value[5][row]}}</td>
                    <td>{{value[6][row]}}</td>
                    <td>{{value[7][row]}}</td>
                    <td>{{value[8][row]}}</td>
                    <td>{{value[9][row]}}</td>
                    <td>{{value[10][row]}}</td>
                    <td>{{value[11][row]}}</td>
                    <td>{{value[12][row]}}</td>
                    <td>{{value[13][row]}}</td>
                    <td>{{value[14][row]}}</td>
                    <td>{{value[15][row]}}</td>
                  </tr> 
                {% endfor %}
            </tbody> 
        </table>
    </div>
</body>
</html>
